<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      รายงานตรวจสอบวัตถุดิบ
    </div>
    <!--SearchDate-->
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-autocomplete
              class="mx-8"
              v-model="searchIdcheck.chId"
              :items="checkId"
              outlined
              dense
              :rules="rules"
              color="blue-grey lighten-2"
              label="ค้นหาเลขเอกสารตรวจสอบวัตถุดิบ"
              item-text="Check_Id"
              item-value="Check_Id"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Check_Id"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Check_Date"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </v-card-text>
          <div class="d-flex justify-center">
            <v-btn
              class="mb-5"
              color="amber darken-1"
              :disabled="!searchIdcheck.chId || show == true "
              @click="showCheck"
            >
              ค้นหา
            </v-btn>
            <v-btn color="amber darken-1" text @click="refreshSE">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <div v-if="show === true" class="mt-10">
      <v-btn @click="linktoPDF" color="green darken-1" text>รายงาน</v-btn>
    </div>
    <!--DataTables-->
    <div v-if="show === true">
      <v-card>
        <v-card-title>
          รายงานตรวจสอบวัตถุดิบ เลขที่เอกสาร {{ add.checkindate[0].Check_Id }}
          <v-spacer></v-spacer>
          <v-text-field
            v-model="searchinrow"
            append-icon="mdi-magnify"
            label="Search"
            outlined
            dense
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="add.checkindate"
          :items-per-page="5"
          class="elevation-1"
          :search="searchinrow"
        >
        </v-data-table>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../../configs';
import moment from 'moment';
export default {
  name: 'Check',
  created() {
    this.$store.getters.currentCompa;
    console.log('compid', this.$store.getters.currentCompa);
    this.searchidcheck();
  },
  computed: {},
  methods: {
    refreshSE() {
      this.timeout = setInterval(() => {
        window.location.reload();
      }, 1000);
    },
    linktoPDF() {
      this.$store.commit('isGetreport', this.add);
      console.log('currentreport', this.$store.getters.currentReport);
      this.$router.push({ name: 'ReportCheckPdf' });
    },
    async searchidcheck() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchidcheck`,
          this.search
        );
        if (!res.data.statusCode) {
          this.checkId = res.data;
          console.log('checkData', res.data);
          this.checkId.forEach((i) => {
            i.Check_Date = moment(i.Check_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
          });
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async showCheck() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/showcheck`,
          this.searchIdcheck
        );
        if (!res.data.statusCode) {
          this.add.checkindate = res.data;
          console.log('rec in date', this.add.checkindate);
          this.add.checkindate.forEach((i) => {
            this.add.totalodd += i.Mat_Value;
            i.Check_Date = moment(i.Check_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
            this.add.totalcheck += i.Check_Num;
            this.add.totallost += i.Lost;
            this.add.totalremain += i.Remain;
          });
          this.show = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      searchIdcheck: {
        chId: '',
        comp: this.$store.getters.currentCompa,
      },
      checkId: [],
      add: {
        checkindate: [],
        totalodd: 0,
        totalcheck: 0,
        totallost: 0,
        totalremain: 0,
      },
      isValid: {
        select: false,
      },
      disable: {
        new: false,
      },
      search: {
        comp: this.$store.getters.currentCompa,
      },

      show: false,
      searchinrow: '',
      rules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      headers: [
        {
          text: 'เลขที่เอกสาร',
          align: 'center',
          sortable: false,
          value: 'Check_Id',
        },
        { text: 'วันที่', value: 'Check_Date' },
        { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
        { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
        { text: 'จำนวนตรวจสอบ', value: 'Check_Num' },
        { text: 'ชื่อผู้ตรวจสอบ', value: 'User_Name' },
      ],
    };
  },
};
</script>

<style></style>
