<template>
  <v-container>
    <!--ButtonPrintPDF-->
    <v-row align="center" justify="center">
      <v-col sm="6" md="6" lg="6">
        <div class="text-center">
          <v-btn outlined color="red darken-1" @click="onBack">
            <v-icon>mdi-arrow-left</v-icon>กลับ
          </v-btn>
        </div>
      </v-col>
      <v-col sm="6" md="6" lg="6">
        <div class="text-center">
          <v-btn outlined color="blue darken-1" @click="onExportPdf">
            <v-icon>mdi-printer-pos</v-icon>พิมพ์
          </v-btn>
        </div>
      </v-col>
    </v-row>

    <div id="pdfContent">
      <div class="d-flex flex-column">
        <div class="text-center">
          <h2 v-text="add.returnData[0].Comp_Name" class="mb-3 mt-10"></h2>
          <h2 v-text="`รายงานรับคืนวัตถุดิบ`" class="mt-5"></h2>
          <h3 class="mt-5 mb-5">วันที่ {{ add.returnData[0].Return_Date }}</h3>
        </div>
      </div>
      <div class="d-flex justify-space-between mt-5">
        <h4 class="text-left ml-2">พิมพ์วันที่ {{ newdate }}</h4>
      </div>
      <v-divider></v-divider>
      <v-data-table
        :headers="headers"
        :items="add.returnData"
        class="elevation-1 fontsize"
        hide-default-footer
        disable-sort
      >
      </v-data-table>
      <v-divider></v-divider>
      <div class="d-flex justify-space-between mt-4">
        <div class="d-flex justify-start">
          <h4 class="text-left mr-10 ml-3">รวมทั้งสิ้น</h4>
          <h4 class="text-left mr-10">{{ add.returnData.length }}</h4>
          <h4 class="text-left mr-10">รายการ</h4>
          <h4 class="text-left mr-15"></h4>
          <h4 class="text-left mr-15"></h4>
          <h4 class="text-left mr-15"></h4>
          <h4 class="text-left mr-15"></h4>
          <h4 class="text-left mr-15"></h4>
          <h4 class="text-left mr-15"></h4>
          <h4 class="text-left mr-15"></h4>
          <h4 class="text-left mr-1"></h4>
          <h4 class=" ml-15 ">{{ add.totalreturn }}</h4>
          <h4 class="text-left mr-15"></h4>
          <h4 class=" ml-10 ">{{ add.totalprice }}</h4>
          <h4 class="text-left mr-14"></h4>
          <h4 class=" ml-15 ">{{ add.totalremain }}</h4>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import moment from 'moment';
import { jsPDF } from 'jspdf';
import html2canvas from 'html2canvas';
export default {
  name: 'Return',
  created() {
    this.$store.getters.currentReport;
  },
  methods: {
    onExportPdf() {
      let element = document.getElementById('pdfContent');
      html2canvas(element, { logging: false }).then((canvas) => {
        let pdf = new jsPDF('p', 'mm', 'a4');
        let ctx = canvas.getContext('2d');
        let a4w = 190;
        let a4h = 257;
        let imgHeight = Math.floor((a4h * canvas.width) / a4w);
        let renderedHeight = 0;
        while (renderedHeight < canvas.height) {
          let page = document.createElement('canvas');
          page.width = canvas.width;
          page.height = Math.min(imgHeight, canvas.height - renderedHeight);
          page
            .getContext('2d')
            .putImageData(
              ctx.getImageData(
                0,
                renderedHeight,
                canvas.width,
                Math.min(imgHeight, canvas.height - renderedHeight)
              ),
              0,
              0
            );
          pdf.addImage(
            page.toDataURL('image/jpeg', 2),
            'JPEG',
            10,
            10,
            a4w,
            Math.min(a4h, (a4w * page.height) / page.width)
          );
          renderedHeight += imgHeight;
          if (renderedHeight < canvas.height) {
            pdf.addPage();
          }
        }
        pdf.save(`รายงานรับคืนวัตถุดิบ - ${this.add.returnData[0].Return_Date}`);
      });
    },
    onBack() {
      this.$router.push({ path: '/getbackreport' });
    },
  },
  data() {
    return {
      add: this.$store.getters.currentReport,
      newdate: moment()
        .locale('th')
        .add(543, 'year')
        .format('D MMMM YYYY'),
      headers: [
        {
          text: 'เลขที่เอกสาร',
          align: 'center',
          sortable: false,
          value: 'Return_Id',
        },
        { text: 'วันที่รับคืนวัตถุดิบ', value: 'Return_Date' },
        { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
        { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
        { text: 'หน่วยนับ', value: 'Unit_Name' },
        { text: 'จำนวน', value: 'Return_Num' },
        { text: 'ราคาขาย/หน่วย', value: 'Mat_Price' },
        { text: 'จำนวนเงิน', value: 'remain' },
      ],
    };
  },
};
</script>

<style></style>
