<template>
  <v-container fluid>
    <TableCompanyInfo></TableCompanyInfo>
  </v-container>
</template>

<script>
import TableCompanyInfo from '../../components/TableCompanyInfo';
export default {
  name: 'CompanyInfo',
  components: { TableCompanyInfo },
};
</script>

<style></style>
