<template>
  <v-container fluid>
      <OldMaterial></OldMaterial>
  </v-container>
</template>

<script>
import OldMaterial from '../../components/OldMaterial';
export default {
  name: 'ReceiveOld',
  components: { OldMaterial },
};
</script>

<style></style>
