<template>
  <v-container fluid>
    <OrderMat></OrderMat>
  </v-container>
</template>

<script>
import OrderMat from '../../components/user.order/OrderMat';
export default {
  name: 'OrderNew',
  components: { OrderMat },
  data() {
    return {};
  },
};
</script>

<style></style>
