<template>
  <v-container fluid>
    <NewOrder></NewOrder>
  </v-container>
</template>

<script>
import NewOrder from '../../components/user.order/NewOrder';
export default {
  name: 'OrderNew',
  components: { NewOrder },
  data() {
    return {};
  },
};
</script>

<style></style>
