<template>
  <v-container fluid>
    <DashboardSAdmin v-if="role == 'SpAdmin'"></DashboardSAdmin>
    <DashboardAdmin v-if="role == 'Admin'"></DashboardAdmin>
  </v-container>
</template>

<script>
import {DashboardSAdmin, DashboardAdmin} from '../components'
export default {
  name: 'Dashboard',
  components: {DashboardSAdmin, DashboardAdmin},
  data() {
    return {
        role: this.$store.getters.currentUser
    };
  },
};
</script>

<style></style>
