<template>
    <v-container fluid>
    <Warehouse />
  </v-container>
</template>

<script>
import {Warehouse} from '../components'
export default {
    name: "Default",
    components: { Warehouse },
  data() {
    return {};
  },
}
</script>

<style>

</style>