<template>
  <v-container fluid>
      <Storage/>
  </v-container>
</template>

<script>
import {Storage} from '../components';
export default {
    name :'ListStorage',
    components: { Storage },
    data(){
        return{

        };
    },

};
</script>

<style>

</style>