<template>
  <v-container fluid>
      <Unit></Unit>
  </v-container>
</template>

<script>
import { Unit } from '../components';
export default {
    name:'ListUnit',
    components:{ Unit },
    data(){
        return{

        };
    },
};
</script>

<style>

</style>