<template>
  <v-container fluid>
    <NewCheck></NewCheck>
  </v-container>
</template>

<script>
import NewCheck from '../../components/user.check/NewCheck';
export default {
  name: 'CheckNew',
  components: { NewCheck },
  data() {
    return {};
  },
};
</script>

<style></style>
