<template>
  <v-container fluid>
    <NewReturn></NewReturn>
  </v-container>
</template>

<script>
import NewReturn from '../../components/user.check/NewReturn';
export default {
  name: 'CheckNew',
  components: { NewReturn },
  data() {
    return {};
  },
};
</script>
