<template>
  <v-container fluid>
    <ReportCarry></ReportCarry>
  </v-container>
</template>

<script>
import { ReportCarry } from '../../components';
export default {
  name: 'ReportCarryPdf',
  components: { ReportCarry },
};
</script>

<style></style>
