<template>
  <v-container fluid>
      <Carry></Carry>
  </v-container>
</template>

<script>
import { Carry } from '../../components'
export default {
    name:'CarryReport',
    components: { Carry },
}
</script>

<style>

</style>