<template>
  <v-container>
    <GetBack></GetBack>
  </v-container>
</template>

<script>
import { GetBack } from '../../components';
export default {
  name: 'GetBackReport',
  components: { GetBack },
};
</script>

<style></style>
