<template>
  <v-container fluid>
      <ReportMaterial></ReportMaterial>
  </v-container>
</template>

<script>
import ReportMaterial from '../../components/Reports/ReportMaterial'
export default {
    components: { ReportMaterial },
    name: 'MaterialReportPdf'
}
</script>

<style>

</style>