<template>
  <v-container fluid>
      <Material></Material>
  </v-container>
</template>

<script>
import Material from '../../components/Reports/Material.vue'
export default {
  components: { Material },
  name: 'MaterialReport'
}
</script>

<style>

</style>