<template>
  <v-container>
    <Minimum></Minimum>
  </v-container>
</template>

<script>
import { Minimum } from '../../components';
export default {
  name: 'MinimumReport',
  components: { Minimum },
};
</script>

<style></style>
