<template>
    <v-container fluid>
        <Receipt></Receipt>
    </v-container>
</template>

<script>
import { Receipt } from '../../components'
export default {
    name: 'ReceiptReport',
    components: { Receipt },
  
}
</script>

<style>

</style>