<template>
  <v-container>
    <ReportMinimum></ReportMinimum>
  </v-container>
</template>

<script>
import { ReportMinimum } from '../../components';
export default {
  name: 'ReportMinimumPdf',
  components: { ReportMinimum },
};
</script>

<style></style>
