<template>
  <v-container fluid>
    <ReportRev></ReportRev>
  </v-container>
</template>

<script>
import { ReportRev } from '../../components';
export default {
  name: 'ReportRevPdf',
  components: { ReportRev },
};
</script>

<style></style>
