<template>
  <v-container fluid>
    <Return></Return>
  </v-container>
</template>

<script>
import { Return } from '../../components';
export default {
  name: 'ReturnReport',
  components: { Return },
};
</script>

<style></style>
