<template>
  <v-container>
    <v-row align="center" justify="space-around">
      <v-col sm="12" md="12" lg="12">
        <v-card min-height="300">
          <v-card-title>
            <v-icon x-large left>
              mdi-bullhorn
            </v-icon>
            <span class="title font-weight-regular">การแจ้งเตือน</span>
          </v-card-title>
          <v-card-text>
            <v-divider></v-divider>
            <!-- <v-list-item v-for="item in notiData" :key="item.Noti_Id">
              <v-list-item-content>
                <v-list-item-title>{{item.Noti_Type_Name}} {{item.Noti_Name}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item> -->
            <div class="mt-4" v-for="item in notiData" :key="item.Noti_Id">
              <div class="black--text" v-if="item.Noti_Status === 0">
                {{ item.Noti_Date }} : {{ item.Noti_Type_Name }}
                {{ item.Noti_Name }}
              </div>
              <div class="gray--text" v-if="item.Noti_Status === 1">
                {{ item.Noti_Date }} : {{ item.Noti_Type_Name }}
                {{ item.Noti_Name }}
              </div>
            </div>
            <!-- <div
              class="mt-4 black--text"
              v-for="item in notiData"
              :key="item.Noti_Id"
            >
              {{ item.Noti_Date }} : {{ item.Noti_Type_Name }}
              {{ item.Noti_Name }}
            </div> -->
            <div class="mt-4" v-if="!notiData.length">
              ยังไม่มีการแจ้งเตือน...
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center" justify="space-around">
      <v-col cols="12" sm="12" md="6" lg="6">
        <v-card min-height="200">
          <v-card-text class="text-center">
            <v-avatar color="white">
              <v-icon x-large>mdi-inbox-arrow-down</v-icon>
            </v-avatar>
            <v-divider></v-divider>
            <h2 class="text--primary font-weight-regular mt-4">
              จำนวนรายการวัตถุดิบที่รับเข้าวันนี้
            </h2>
            <h2 class="display-2 text--primary mt-2">{{ count.rec || '-' }}</h2>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="6" lg="6">
        <v-card min-height="200">
          <v-card-text class="text-center">
            <v-avatar color="white">
              <v-icon x-large>mdi-inbox-arrow-up</v-icon>
            </v-avatar>
            <v-divider></v-divider>
            <h2 class="text--primary font-weight-regular mt-4">
              จำนวนรายการวัตถุดิบที่เบิกออกวันนี้
            </h2>
            <h2 class="display-2 text--primary mt-2">{{ count.rev || '-' }}</h2>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { CONFIG } from '../configs';
export default {
  name: 'DashboardAdmin',
  components: {},
  created() {
    this.getNotiList();
    this.getCountRec();
    this.getCountRev();
  },
  data() {
    return {
      fetch: {
        adminId: this.$store.getters.currentId,
      },
      notiData: [],
      count: {
        rec: '',
        rev: '',
      },
    };
  },
  methods: {
    async getNotiList() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/notifications/admins/ad`,
          this.fetch
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          res.data.forEach((i) => {
            i.Noti_Date = moment(i.Noti_Date).format('DD/MM/YYYY');
          });
          this.notiData = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getCountRec() {
      try {
        let res = await axios.get(`${CONFIG.BASEAPI}/adminns/listcountrec`);
        console.log(res.data);
        if (!res.data.statusCode) {
          this.count.rec = res.data[0].CountOfDate;
        }
      } catch (err) {
        console.log(err);
        // let { message } = err.response.data
        // this.snackbar.text = message
        // this.snackbar.color = 'error'
        // this.snackbar.visible = true
      }
    },
    async getCountRev() {
      try {
        let res = await axios.get(`${CONFIG.BASEAPI}/adminns/listcountrev`);
        console.log(res.data);
        if (!res.data.statusCode) {
          this.count.rev = res.data[0].CountOfDateRev;
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style></style>
