<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      บันทึกวัตถุดิบรับเข้าใหม่
    </div>
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-form v-model="isValid.new">
              <v-text-field
                class="mx-8"
                v-model="storage.name"
                :rules="nameRules"
                :disabled="disable.new"
                label="ชื่อวัตถุดิบ"
                prepend-icon="mdi-alphabetical-variant"
                color="amber darken-1"
                dense
                outlined
              ></v-text-field>
              <v-text-field
                class="mx-8"
                v-model="storage.sup"
                :rules="nameRules"
                :disabled="disable.new"
                label="ชื่อผู้ผลิต"
                prepend-icon="mdi-account"
                color="amber darken-1"
                dense
                outlined
              ></v-text-field>
              <v-autocomplete
                class="mx-8"
                prepend-icon="mdi-warehouse"
                v-model="storage.ware"
                :disabled="disable.new"
                :items="wareData"
                item-text="Ware_Name"
                item-value="Ware_Id"
                label="คลังวัตถุดิบ"
                color="amber darken-1"
                dense
                outlined
                @change="getListStore"
              >
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Ware_Name"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Ware_Id"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-autocomplete
                class="mx-8"
                prepend-icon="mdi-dolly"
                v-model="storage.store"
                :disabled="disable.new || !storage.ware"
                :items="storeData"
                item-text="Store_Name"
                item-value="Store_Id"
                label="ที่เก็บวัตถุดิบ"
                color="amber darken-1"
                dense
                outlined
              >
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Store_Name"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Store_Id"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-autocomplete
                class="mx-8"
                prepend-icon="mdi-shape"
                v-model="storage.unit"
                :disabled="disable.new"
                :items="unitData"
                item-text="Unit_Name"
                item-value="Unit_Id"
                label="หน่วยนับวัตถุดิบ"
                color="amber darken-1"
                dense
                outlined
              >
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Unit_Name"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Unit_Id"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-text-field
                class="mx-8"
                v-model.number="storage.num"
                :rules="numberRules"
                :disabled="disable.new"
                label="จำนวนวัตถุดิบ"
                prepend-icon="mdi-counter"
                color="amber darken-1"
                type="number"
                dense
                outlined
                required
              ></v-text-field>
              <v-text-field
                class="mx-8"
                v-model.number="storage.price"
                :rules="numberIntRules"
                :disabled="disable.new"
                label="ราคา"
                prepend-icon="mdi-bitcoin"
                color="amber darken-1"
                type="number"
                dense
                outlined
                required
              ></v-text-field>
              <v-menu
                ref="menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    class="mx-8"
                    :value="dateFormatted"
                    :rules="nameRules"
                    :disabled="disable.new"
                    label="วันที่รับวัตถุดิบ"
                    prepend-icon="mdi-calendar"
                    color="amber darken-1"
                    dense
                    outlined
                    required
                    readonly
                    clearable
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="storage.date"
                  :max="dateMax"
                  no-title
                  scrollable
                ></v-date-picker>
              </v-menu>
            </v-form>
            <div class="text-center mt-3">
              <v-btn
                color="amber darken-1"
                :disabled="
                  !isValid.new ||
                    !storage.ware ||
                    !storage.store ||
                    !storage.unit
                "
                @click="onGen"
              >
                บันทึก & สร้าง QR
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="isValid.gen" align="center" justify="center">
      <v-col sm="4" md="3" lg="3">
        <div class="text-center" id="print">
          <vue-qr
            :text="storage.mat"
            :callback="getBaseQr"
            qid="testid"
          ></vue-qr>
        </div>
        <div class="text-center">{{ storage.mat }}</div>
      </v-col>
      <v-col sm="4" md="3" lg="3">
        <div class="text-center">
          <v-btn outlined color="blue darken-1" @click="window">
            <v-icon>
              mdi-printer-pos
            </v-icon>
            พิมพ์
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog.store" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          บันทึกที่เก็บ
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.store">
            <v-autocomplete
              class="mx-8"
              prepend-icon="mdi-city-variant"
              v-model="storage.ware"
              :items="wareData"
              item-text="Ware_Name"
              item-value="Ware_Id"
              label="คลังวัตถุดิบ"
              dense
              outlined
              @change="getListStore"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Ware_Name"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Ware_Id"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
            <v-autocomplete
              class="mx-8"
              prepend-icon="mdi-city-variant"
              v-model="storage.store"
              :items="storeData"
              item-text="Store_Name"
              item-value="Store_Id"
              label="ที่เก็บวัตถุดิบ"
              dense
              outlined
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Store_Name"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Store_Id"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
            <v-text-field
              class="mx-8"
              v-model.number="storage.num"
              :rules="numberRules"
              label="จำนวนวัตถุดิบ"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-menu
              ref="menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  class="mx-8"
                  :value="dateFormatted"
                  :rules="nameRules"
                  label="วันที่รับวัตถุดิบ"
                  prepend-icon="mdi-city-variant"
                  color="amber darken-1"
                  dense
                  outlined
                  required
                  readonly
                  clearable
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="storage.date"
                :max="dateMax"
                no-title
                scrollable
              ></v-date-picker>
            </v-menu>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.store = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.store"
            @click="onStore"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import VueQr from 'vue-qr';
import moment from 'moment';
import axios from 'axios';
import printJS from 'print-js';
import { CONFIG } from '../configs';
export default {
  name: 'NewMaterial',
  components: { VueQr },
  data() {
    return {
      dialog: {
        store: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        new: false,
        store: false,
        gen: false,
      },
      disable: {
        new: false,
      },
      fetch: {
        adminId: this.$store.getters.currentAdminId,
        compId: this.$store.getters.currentCompa,
      },
      storage: {
        name: '',
        sup: '',
        ware: '',
        store: '',
        num: '',
        price: '',
        date: moment().format('YYYY-MM-DD'),
        qr: '',
        mat: '',
        unit: '',
        img: '',
        userId: this.$store.getters.currentId,
        compId: this.$store.getters.currentCompa,
      },
      wareData: [],
      storeData: [],
      unitData: [],
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [(v) => (v > 0 && Number.isInteger(v)) || 'กรุณากรอกจำนวน'],
      numberIntRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
      timeout: null,
    };
  },
  created() {
    this.getListWare();
    this.getListUnit();
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  computed: {
    dateFormatted() {
      return this.storage.date
        ? moment(this.storage.date).format('DD/MM/YYYY')
        : '';
    },
    dateMax() {
      return moment().format('YYYY-MM-DD');
    },
  },
  methods: {
    getBaseQr(dataUrl) {
      let base = dataUrl.replace('data:image/png;base64,', '');
      this.storage.qr = base;
      this.storage.img = dataUrl;
      this.onStore();
    },
    window() {
      printJS({
        printable: this.storage.img,
        type: 'image',
        header: this.storage.mat,
        headerStyle: 'font-weight: 100; padding-left: 16px',
      });
    },
    async getListWare() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/warehouses/listware`,
          this.fetch
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data) {
            this.wareData = res.data;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            // this.snackbar.visible = true
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getListStore() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/warehouses/liststore`,
          this.storage
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data) {
            this.storeData = res.data;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getListUnit() {
      try {
        let res = await axios.post(`${CONFIG.BASEAPI}/units`, this.fetch);
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data) {
            this.unitData = res.data;
            console.log(this.unitData);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onGen() {
      try {
        this.disable.new = true;
        this.isValid.new = false;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/warehouses/newmat`,
          this.storage
        );
        if (!res.data.statusCode) {
          if (res.data) {
            console.log(res.data);
            this.storage.mat = res.data;
            this.isValid.gen = true;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onStore() {
      try {
        console.log(this.storage);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/warehouses/newstore`,
          this.storage
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.store = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
};
</script>

<style></style>
