<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      บันทึกวัตถุดิบรับเข้าที่มีอยู่
    </div>
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-radio-group
              class="mx-8"
              v-model="fetch.radio"
              @change="reset"
              row
            >
              <template v-slot:label>
                <div>ค้นหาโดย</div>
              </template>
              <v-radio
                v-for="(n, i) in radioData"
                :key="i"
                :label="n"
                :value="i"
                color="amber darken-1"
              ></v-radio>
            </v-radio-group>
            <v-form v-model="isValid.new" ref="form">
              <v-autocomplete
                class="mx-8"
                v-show="!!!fetch.radio"
                v-model="storage.name"
                :items="matData"
                item-text="Mat_Id"
                item-value="Mat_Id"
                label="ค้นหา..."
                color="amber darken-1"
                dense
                outlined
              >
                <template v-slot:selection="data">
                  {{ data.item.Mat_Id }} - {{ data.item.Mat_Name }}
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-autocomplete
                class="mx-8"
                v-show="!!fetch.radio"
                v-model="storage.name"
                :items="matData"
                item-text="Mat_Name"
                item-value="Mat_Id"
                label="ค้นหา..."
                color="amber darken-1"
                dense
                outlined
              >
                <template v-slot:selection="data">
                  {{ data.item.Mat_Id }} - {{ data.item.Mat_Name }}
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Name"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Id"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-form>
            <div class="text-center mt-3">
              <v-btn
                color="amber darken-1"
                :disabled="!storage.name || $store.getters.currentLoading"
                :loading="$store.getters.currentLoading"
                @click="onGen"
              >
                ดูรหัส QR
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="isValid.gen" align="center" justify="center">
      <v-col sm="6" md="4" lg="4">
        <div class="text-center" id="print">
          <v-img :src="storage.mat"></v-img>{{ storage.selected }}
        </div>
      </v-col>
      <v-col sm="6" md="4" lg="4">
        <div class="text-center">
          <v-btn outlined color="blue darken-1" @click="getMatData">
            <v-icon>
              mdi-pencil
            </v-icon>
            บันทึกข้อมูลรับเข้า
          </v-btn>
          <v-divider class="my-4"></v-divider>
          <v-btn outlined color="blue darken-1" @click="window">
            <v-icon>
              mdi-printer-pos
            </v-icon>
            พิมพ์
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog.store" max-width="600px">
      <v-card>
        <v-card-title class="headline pb-8">
          บันทึกข้อมูลรับเข้า
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.store">
            <!-- <v-autocomplete
              class="mx-8"
              prepend-icon="mdi-warehouse"
              v-model="storage.ware"
              :items="wareData"
              item-text="Ware_Id"
              item-value="Ware_Id"
              label="คลังวัตถุดิบ"
              dense
              outlined
              @change="getListStore"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Ware_Name"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Ware_Id"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete> -->
            <v-autocomplete
              class="mx-8"
              prepend-icon="mdi-dolly"
              v-model="storage.store"
              disabled
              :items="storeData"
              item-text="Store_Id"
              item-value="Store_Id"
              label="ที่เก็บวัตถุดิบ"
              dense
              outlined
            >
              <template v-slot:selection="data">
                {{ data.item.Store_Id }} - {{ data.item.Store_Name }}
              </template>
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Store_Name"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Store_Id"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
            <v-autocomplete
              class="mx-8"
              prepend-icon="mdi-shape"
              v-model="storage.unit"
              disabled
              :items="unitData"
              item-text="Unit_Name"
              item-value="Unit_Id"
              label="หน่วยนับวัตถุดิบ"
              dense
              outlined
            >
              <template v-slot:selection="data">
                {{ data.item.Unit_Id }} - {{ data.item.Unit_Name }}
              </template>
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Unit_Name"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Unit_Id"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
            <v-text-field
              class="mx-8"
              v-model.number="storage.price"
              :rules="numberIntRules"
              disabled
              label="ราคา"
              prepend-icon="mdi-bitcoin"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model.number="storage.num"
              :disabled="disable.new"
              :rules="numberRules"
              label="จำนวนวัตถุดิบ"
              prepend-icon="mdi-counter"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-menu
              ref="menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  class="mx-8"
                  :value="dateFormatted"
                  :disabled="disable.new"
                  :rules="nameRules"
                  label="วันที่รับวัตถุดิบ"
                  prepend-icon="mdi-calendar"
                  color="amber darken-1"
                  dense
                  outlined
                  required
                  readonly
                  clearable
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="storage.date"
                :max="dateMax"
                no-title
                scrollable
              ></v-date-picker>
            </v-menu>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.store = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.store"
            @click="onStore"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import printJS from 'print-js';
import { CONFIG } from '../configs';
export default {
  name: 'OldMaterial',
  components: {},
  data() {
    return {
      dialog: {
        store: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        new: false,
        store: false,
        gen: false,
      },
      disable: {
        new: false,
      },
      fetch: {
        adminId: this.$store.getters.currentAdminId,
        compId: this.$store.getters.currentCompa,
        radio: 0,
      },
      storage: {
        name: '',
        sup: '',
        ware: '',
        store: '',
        num: '',
        price: '',
        date: moment().format('YYYY-MM-DD'),
        qr: '',
        mat: '',
        unit: '',
        selected: '',
        userId: this.$store.getters.currentId,
        compId: this.$store.getters.currentCompa,
      },
      matData: [],
      wareData: [],
      storeData: [],
      unitData: [],
      radioData: ['รหัสวัตถุดิบ', 'ชื่อวัตถุดิบ'],
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [
        (v) => (v > 0 && !!Number.isInteger(v)) || 'กรุณากรอกจำนวน',
      ],
      numberIntRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
      timeout: null,
    };
  },
  created() {
    this.getListOldMat();
    this.getListWare();
    this.getListUnit();
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  computed: {
    dateFormatted() {
      return this.storage.date
        ? moment(this.storage.date).format('DD/MM/YYYY')
        : '';
    },
    dateMax() {
      return moment().format('YYYY-MM-DD');
    },
  },
  methods: {
    window() {
      printJS({
        printable: this.storage.mat,
        type: 'image',
        header: this.storage.selected,
        headerStyle: 'font-weight: 100; padding-left: 16px',
      });
    },
    async getListOldMat() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/warehouses/listoldmat`,
          this.fetch
        );
        if (!res.data.statusCode && res.data) {
          this.matData = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getListWare() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/warehouses/listware`,
          this.fetch
        );
        if (!res.data.statusCode && res.data) {
          this.wareData = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getListStore() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/warehouses/liststore`,
          this.storage
        );
        if (!res.data.statusCode && res.data) {
          this.storeData = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getStoreData() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/storages/infos/store`,
          this.storage
        );
        if (!res.data.statusCode && res.data) {
          this.storeData = res.data;
          this.dialog.store = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getListUnit() {
      try {
        let res = await axios.post(`${CONFIG.BASEAPI}/units`, this.fetch);
        if (!res.data.statusCode && res.data) {
          this.unitData = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getMatData() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/info`,
          this.storage
        );
        if (!res.data.statusCode && res.data) {
          this.storage.store = res.data[0].Store_Id;
          this.storage.unit = res.data[0].Unit_Id;
          this.storage.price = res.data[0].Mat_Price;
          this.getStoreData();
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onGen() {
      try {
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/warehouses/readqrmat`,
          this.storage
        );
        if (!res.data.statusCode && res.data) {
          let base = `data:image/png;base64,${res.data}`;
          this.storage.mat = base;
          this.storage.selected = this.storage.name;
          this.isValid.gen = true;
          this.$store.commit('isLoading', !this.$store.getters.currentLoading);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
      }
    },
    async onStore() {
      try {
        this.disable.new = true;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/updates/old`,
          this.storage
        );
        if (!res.data.statusCode && res.data === 'OK') {
          this.dialog.store = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
        this.disable.new = false;
      }
    },
    reset() {
      this.$refs.form.reset();
    },
  },
};
</script>

<style></style>
