<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      ที่เก็บวัตถุดิบ
      {{ nameware }}
    </div>
    <!--buttonAddStorage-->
    <div>
      <!-- <v-btn color="amber darken-1" text @click="getCateList">
        <v-icon>mdi-refresh</v-icon>
      </v-btn> -->
      <v-btn color="green darken-1" text @click="AddStore">
        เพิ่ม
      </v-btn>
      <v-btn
        v-if="remove.selected.length >= 1"
        color="red darken-1"
        text
        @click="dialog.deleteStoreAll = true"
      >
        ลบรายชื่อที่เลือก
      </v-btn>
    </div>

    <!--DataTables-->
    <v-card>
      <v-card-title>
        ที่เก็บวัตถุดิบ
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          outlined
          dense
          hide-details
        ></v-text-field>
      </v-card-title>

      <v-data-table
        v-model="remove.selected"
        item-key="Store_Id"
        :headers="headers"
        :items="storage"
        :search="search"
        :items-per-page="5"
        class="elevation-1"
        @click:row="onSelectRow"
        show-select
      >
      </v-data-table>
    </v-card>
    <!--dialogAddStorage-->
    <v-dialog v-model="dialog.addStore" max-width="600">
      <v-card>
        <v-item-group>
          <v-form v-model="isvalid">
            <v-card-title>
              เพิ่มที่เก็บสินค้า
            </v-card-title>
            <div
              class="previous"
              v-for="(item, index) in addstore"
              v-bind:key="index"
            >
              <div
                class="d-flex justify-end mr-6 mb-2"
                v-if="addstore.length > 1"
              >
                <v-btn
                  outlined
                  icon
                  @click="deleteindex(index)"
                  color="red darken-1"
                  dark
                >
                  <v-icon>
                    mdi-delete
                  </v-icon>
                </v-btn>
              </div>

              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="addstore[index].Storagename"
                :rules="nameRules"
                label="ที่เก็บวัตถุดิบ"
                required
              ></v-text-field>
              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="addstore[index].Storagedesc"
                :rules="descRules"
                label="รายละเอียด"
                required
              ></v-text-field>
            </div>
            <div class="text-center">
              <v-btn
                class="mx-8 mb-5"
                color="blue darken-1"
                @click="addST"
                outlined
                icon
              >
                <v-icon>
                  mdi-plus
                </v-icon>
              </v-btn>
              <v-divider class="mb-4"></v-divider>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="mb-5" color="red darken-1" @click="cancel" outlined>
                ยกเลิก
              </v-btn>
              <v-btn
                class="mr-5 mb-5"
                color="green darken-1"
                @click="addstorage"
                outlined
                :disabled="!isvalid"
              >
                ยืนยัน
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-item-group>
      </v-card>
    </v-dialog>
    <!--dialogDetailStorage-->
    <v-dialog v-model="dialog.detailStore" max-width="600">
      <v-card>
        <v-card-title>
          รายละเอียดที่จัดเก็บวัตถุดิบ
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">รหัสที่เก็บวัตถุดิบ: {{ row.Store_Id }}</div>
          <div class="subtitle-1">ชื่อ: {{ row.Store_Name }}</div>
          <div class="subtitle-1">รายละเอียด: {{ row.Store_Desc }}</div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn outlined color="red darken-1" @click="cancel">
            กลับ
          </v-btn>
          <v-btn outlined color="primary darken-1" @click="editST">
            แก้ไขข้อมูล
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--dialogEditStorage-->
    <v-dialog v-model="dialog.editStore" max-width="600">
      <v-card>
        <v-card-title>
          แก้ไขที่เก็บวัตถุดิบ
        </v-card-title>
        <v-item-group>
          <v-form v-model="validedit">
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.name"
              :rules="nameRules"
              label="คลังวัตถุดิบ"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.desc"
              :rules="descRules"
              label="รายละเอียด"
              required
            ></v-text-field>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
              class="mb-5"
              color="red darken-1"
              @click="cancel"
              outlined
            >
              ยกเลิก
            </v-btn>
              <v-btn
              class="mr-6 mb-5"
              color="green darken-1"
              @click="editstorage"
              outlined
              :disabled= "!validedit"
            >
              ยืนยัน
            </v-btn>
            </v-card-actions>
            
          </v-form>
        </v-item-group>
      </v-card>
    </v-dialog>
    <!--dialogDeleteStorage-->
    <v-dialog v-model="dialog.deleteStoreAll" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการลบที่เก็บวัตถุดิบนี้ออกจากระบบหรือไม่
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="cancel" color="red darken-1" text>
            ยกเลิก
          </v-btn>
          <v-btn @click="deletestorageall" color="green darken-1" text>
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../configs';
export default {
  name: 'Storage',
  created() {
    this.idwarehouse.idWare = this.$store.getters.currentWare;
    this.addstore[0].wareId = this.idwarehouse.idWare;
    this.liststorage();
    console.log('getIdWarehouse', this.idwarehouse);
    this.listnameware();
    this.$store.getters.currentCompa;
    console.log('comp Id', this.$store.getters.currentCompa);
  },

  methods: {
    AddStore() {
      this.dialog.addStore = true;
    },

    addST() {
      this.addstore.push({
        Storagename: '',
        Storagedesc: '',
        wareId: this.idwarehouse.idWare,
      });
    },
    cancel() {
      this.dialog.addStore = false;
      this.dialog.detailStore = false;
      this.dialog.editStore = false;
      this.dialog.deleteStoreAll = false;
    },
    deleteindex(counter) {
      this.addstore.splice(counter, 1);
    },

    onSelectRow(rec) {
      console.log('onSelRow', rec);
      this.dialog.detailStore = true;
      this.row = rec;
      this.edit.name = rec.Store_Name;
      this.edit.desc = rec.Store_Desc;
    },
    editST() {
      this.dialog.editStore = true;
      this.dialog.detailStore = false;
    },
    deleteST() {
      this.dialog.deleteStore = true;
      this.dialog.detailStore = false;
    },
    async liststorage() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/liststorage`,
          this.idwarehouse
        );
        if (!res.data.statusCode) {
          this.storage = res.data;
          console.log(res.data);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async listnameware() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/listnameware`,
          this.idwarehouse
        );
        if (!res.data[0].statusCode) {
          this.nameware = res.data[0].Ware_Name;
          console.log('name', res.data);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async addstorage() {
      try {
        this.addstores.addstorages = this.addstore;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/addstorages`,
          this.addstores
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            console.log('Success', res.data);
            this.dialog.addStore = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async editstorage() {
      try {
        this.edit.storeid = this.row.Store_Id;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/editstorages`,
          this.edit
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.liststorage();
            console.log('editSuccess', res.data);
            this.dialog.editStore = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async deletestorageall() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/deletestorageall`,
          this.remove
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            console.log('deleteSuccess');
            this.dialog.deleteStoreAll = false;
            (this.remove.selected = []), this.liststorage();
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },

  data() {
    return {
      search: '',
      row: {},
      storage: [],
      validedit: false,
      idwarehouse: {
        idWare: null,
      },
      nameware: {},
      edit: {
        storeid: '',
        name: '',
        desc: '',
      },
      delete: {
        storeid: '',
      },
      isvalid:false,
      dialog: {
        addStore: false,
        detailStore: false,
        editStore: false,
        deleteStoreAll: false,
      },
      addstores: {
        addstorages: [],
        comp: this.$store.getters.currentCompa,
      },
      addstore: [
        {
          Storagename: '',
          Storagedesc: '',
          wareId: '',
        },
      ],
      remove: {
        selected: [],
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      headers: [
        {
          text: 'รหัสที่เก็บวัตถุดิบ',
          align: 'center',
          sortable: false,
          value: 'Store_Id',
        },
        { text: 'ชื่อที่เก็บวัตถุดิบ', value: 'Store_Name' },
        { text: 'รายละเอียด', value: 'Store_Desc' },
      ],
      nameRules: [
        (v) => !!v || 'กรุณากรอกชื่อ',
        (v) =>
          /^[A-Za-zก-๙]+(?:[ _-][A-Za-zก-๙]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยและภาษาอังกฤษเท่านั้น และห้ามเว้นตัวอักษร',
      ],
      descRules: [
        (v) => !!v || 'กรุณากรอกรายละเอียด',
        (v) =>
          /^[ก-๙a-zA-Z]+(?:[ _-][ก-๙a-zA-Z]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยและภาษาอังกฤษเท่านั้น และห้ามเว้นตัวอักษร',
      ],
    };
  },
};
</script>

<style></style>
