<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      รายชื่อพนักงาน
    </div>
    <!--buttonAddUser-->
    <div>
      <v-btn color="green darken-1" text @click="AddUser">
        เพิ่ม
      </v-btn>
      <v-btn
        v-if="remove.selected.length >= 1"
        color="red darken-1"
        text
        @click="dialog.deleteUserAll = true"
      >
        ลบรายชื่อที่เลือก
      </v-btn>
    </div>
    <!--DataTables-->
    <v-card>
      <v-card-title>
        รายชื่อพนักงานในบริษัท
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          outlined
          dense
          hide-details
        ></v-text-field>
      </v-card-title>

      <v-data-table
        v-model="remove.selected"
        item-key="User_Id"
        :headers="headers"
        :items="users"
        :search="search"
        :items-per-page="5"
        class="elevation-1"
        @click:row="onSelectRow"
        show-select
      >
        >
        <template v-slot:[`item.User_Dep`]="{ item }">
          <span>{{
            (item.User_Dep == 1 && 'รับวัตถุดิบ') ||
              (item.User_Dep == 2 && 'ตรวจสอบวัตถุดิบ') ||
              (item.User_Dep == 3 && 'เบิกวัตถุดิบ')
          }}</span>
        </template>
      </v-data-table>
    </v-card>

    <!--dialogAddUser-->
    <v-dialog v-model="dialog.addUser" max-width="600">
      <v-card>
        <v-tabs>
          <v-tab>เพิ่มด้วยตนเอง</v-tab>
          <v-tab-item>
            <v-form v-model="isvalid">
              <v-text-field
                class="mx-8 mt-5"
                outlined
                dense
                v-model="textfieldyourse.username"
                :rules="usernameRules"
                label="ชื่อผู้ใช้"
                required
              ></v-text-field>

              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="textfieldyourse.password"
                :rules="passwordRules"
                label="รหัสผ่าน"
                required
              ></v-text-field>

              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="textfieldyourse.name"
                :rules="nameRules"
                label="ชื่อ"
                required
              ></v-text-field>

              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="textfieldyourse.surname"
                :rules="surnameRules"
                label="นามสกุล"
                required
              ></v-text-field>

              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="textfieldyourse.email"
                :rules="emailRules"
                label="อีเมล"
                required
              ></v-text-field>

              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="textfieldyourse.tel"
                :rules="phonenumberRules"
                label="เบอร์โทรศัพท์"
                required
              ></v-text-field>

              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="textfieldyourse.userNo"
                :rules="idcardRules"
                label="เลขบัตรประจำตัวประชาชน"
                required
              ></v-text-field>

              <v-select
                class="mx-8"
                outlined
                dense
                v-model="select"
                :items="dep"
                item-text="department"
                item-value="dep"
                :rules="selectrolRules"
                label="แผนก"
                required
              ></v-select>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="mb-5"
                  color="red darken-1"
                  @click="cancel"
                  outlined
                >
                  ยกเลิก
                </v-btn>
                <v-btn
                  class="mr-6 mb-5"
                  color="green darken-1"
                  @click="adduser"
                  outlined
                  :disabled="!isvalid"
                >
                  ยืนยัน
                </v-btn>
              </v-card-actions>
            </v-form>
          </v-tab-item>
          <!-- Add employess by file excel -->
          <v-tab>เพิ่มจากไฟล์</v-tab>
          <v-tab-item>
            <v-form v-model="isvalidaddfile">
              <div class="mt-5">
                <input
                  class="mx-8"
                  outlined
                  dense
                  rules="(v) => !!v || 'กรุณาเลือกไฟล์'"
                  type="file"
                  @change="excelExport"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                />
              </div>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="mx-6 mb-5 mt-5"
                  color="green darken-1"
                  @click="adduserfile"
                  outlined
                  :disabled="!dataJson.excelData.length"
                >
                  ยืนยัน
                </v-btn>
              </v-card-actions>
            </v-form>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-dialog>
    <!--dialogEditUser-->
    <v-dialog v-model="dialog.editUser" max-width="600">
      <v-card>
        <v-card-title>
          แก้ไขรายชื่อพนักงาน
        </v-card-title>
        <v-item-group>
          <v-form v-model="validedit">
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="editfieldyourse.name"
              :rules="nameRules"
              label="ชื่อ"
              required
            ></v-text-field>

            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="editfieldyourse.surname"
              :rules="surnameRules"
              label="นามสกุล"
              required
            ></v-text-field>

            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="editfieldyourse.email"
              :rules="emailRules"
              label="อีเมล"
              required
            ></v-text-field>

            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="editfieldyourse.tel"
              :rules="phonenumberRules"
              label="เบอร์โทรศัพท์"
              required
            ></v-text-field>
            <v-select
              class="mx-8"
              outlined
              dense
              v-model="select"
              :items="dep"
              item-text="department"
              item-value="dep"
              :rules="selectrolRules"
              label="แผนก"
              required
            ></v-select>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="mb-5" color="red darken-1" outlined @click="cancel">
                ยกเลิก
              </v-btn>
              <v-btn
                class="mr-6 mb-5"
                color="green darken-1"
                outlined
                @click="edituser"
                :disabled="!validedit"
              >
                ยืนยัน
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-item-group>
      </v-card>
    </v-dialog>

    <!--dialogDeleteUserAll-->
    <v-dialog v-model="dialog.deleteUserAll" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการลบข้อมูลทั้งหมดที่เลือกหรือไม่
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="dialog.deleteUserAll = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" text @click="deleteuserall">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--dialogDetailUser-->
    <v-dialog v-model="dialog.detailUser" max-width="600">
      <v-card>
        <v-card-title class="">รายละเอียดพนักงาน</v-card-title>
        <v-card-text>
          <div class="subtitle-1">ชื่อ: {{ row.User_Name }}</div>
          <div class="subtitle-1">นามสกุล: {{ row.User_Surname }}</div>
          <div class="subtitle-1">อีเมล: {{ row.User_Email }}</div>
          <div class="subtitle-1">เบอร์โทรศัพท์: {{ row.User_Tel }}</div>
          <div class="subtitle-1">
            แผนก:
            {{
              (row.User_Dep === null && '-') ||
                (row.User_Dep === 1 && 'รับวัตถุดิบ') ||
                (row.User_Dep === 2 && 'ตรวจสอบวัตถุดิบ') ||
                (row.User_Dep === 3 && 'เบิกวัตถุดิบ')
            }}
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" outlined @click="cancel">
            กลับ
          </v-btn>
          <v-btn color="primary darken-1" outlined @click="showeditUser">
            แก้ไขข้อมูล
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../configs';
import moment from 'moment';
import XLSX from 'xlsx';

function validThaiID(id) {
  if (id == null || id.length !== 13 || !/^[0-9]\d+$/.test(id)) {
    return false;
  }
  let i;
  let sum = 0;
  for (i = 0, sum = 0; i < 12; i++) {
    sum += parseInt(id.charAt(i)) * (13 - i);
  }
  const check = (11 - (sum % 11)) % 10;
  if (check === parseInt(id.charAt(12))) {
    return true;
  }
  return false;
}

export default {
  name: 'TableListEmployees',
  created() {
    this.listuser();
    this.id = this.$store.getters.currentId;
    console.log(this.id);
    this.$store.getters.currentCompa;
  },
  methods: {
    AddUser() {
      this.dialog.addUser = true;
    },
    cancel() {
      this.dialog.addUser = false;
      this.dialog.detailUser = false;
      this.dialog.editUser = false;
    },
    onSelectRow(rec) {
      console.log('rec', rec);
      this.dialog.detailUser = true;
      this.row = rec;
      this.editfieldyourse.name = rec.User_Name;
      this.editfieldyourse.surname = rec.User_Surname;
      this.editfieldyourse.email = rec.User_Email;
      this.editfieldyourse.tel = rec.User_Tel;
      this.select = rec.User_Dep;
    },

    showeditUser() {
      this.dialog.editUser = true;
      this.dialog.detailUser = false;
    },

    excelExport(event) {
      var input = event.target;
      var reader = new FileReader();
      reader.onload = () => {
        var fileData = reader.result;
        var wb = XLSX.read(fileData, { type: 'binary' });
        wb.SheetNames.forEach((sheetName) => {
          var rowObj = XLSX.utils.sheet_to_json(wb.Sheets[sheetName]);
          let str = JSON.stringify(rowObj);
          this.dataJson.excelData = JSON.parse(str);
          console.log('excelData', this.dataJson.excelData);
        });
      };
      reader.readAsBinaryString(input.files[0]);
    },

    /**API GET LISTUSER */
    async listuser() {
      try {
        let res = await axios.get(`${CONFIG.BASEAPI}/adminns/listuser`);
        if (!res.data.statusCode) {
          for (let i in res.data) {
            res.data[i].Start_Date = moment(res.data[i].Start_Date).format(
              'DD/MM/YYYY'
            );
          }

          this.users = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    openSnackbar(text, color) {
      this.snackbar.text = text;
      this.snackbar.color = color;
      this.snackbar.visible = true;
    },

    /**API POST ADDUSER */
    async adduser() {
      try {
        let result = validThaiID(this.textfieldyourse.userNo);
        if (!result) {
          this.openSnackbar('เลขบัตรประชาชนไม่ถูกต้อง', 'error');
          return;
        }
        console.log('select', this.select);
        this.textfieldyourse.dep = this.select;
        console.log('Depstatus', this.textfieldyourse.dep);
        this.textfieldyourse.adminId = this.id;
        console.log('object :>> ', this.textfieldyourse);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/adduser`,
          this.textfieldyourse
        );
        console.log('object', res.data);
        if (res.data === 'OK') {
          this.dialog.addUser = false;
          console.log('Success');
          this.openSnackbar('ระบบได้บันทึกข้อมูลของคุณแล้ว', 'success');
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
          this.listuser();
        }
      } catch (err) {
        let { message } = err.response.data;
        this.openSnackbar(message, 'error');
      }
    },
    /**API POST ADDUSER BY FILE */
    async adduserfile() {
      try {
        this.dataJson.adminid = this.id;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/adduserfile`,
          this.dataJson
        );
        console.log('object', res.data);
        if (res.data === 'OK') {
          this.dialog.addUser = false;
          console.log('Success');
          this.openSnackbar('ระบบได้บันทึกข้อมูลของคุณแล้ว', 'success');
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
          this.listuser();
        }
      } catch (err) {
        let { message } = err.response.data;
        this.openSnackbar(message, 'error');
      }
    },
    /**API POST EDITUSER */
    async edituser() {
      try {
        this.editfieldyourse.dep = this.select;
        this.editfieldyourse.userid = this.row.User_Id;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/edituser`,
          this.editfieldyourse
        );
        console.log('object', res.data);
        if (res.data === 'OK') {
          this.listuser();
          this.dialog.editUser = false;
          console.log('Success');
          this.openSnackbar('ระบบได้บันทึกข้อมูลของคุณแล้ว', 'success');
        }
      } catch (err) {
        let { message } = err.response.data;
        this.openSnackbar(message, 'error');
      }
    },

    async deleteuserall() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/deletetuserall`,
          this.remove
        );
        if (res.data === 'OK') {
          console.log('Success');
          (this.remove.selected = []), this.listuser();
          this.dialog.deleteUserAll = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },

  data() {
    return {
      checkIdNumber: '',
      dialog: {
        addUser: false,
        detailUser: false,
        editUser: false,
        deleteUserAll: false,
      },
      search: '',
      row: {},
      isvalid: false,
      isvalidaddfile: false,
      validedit: false,
      users: [],
      dataJson: {
        excelData: [],
        adminid: '',
        comp: this.$store.getters.currentCompa,
      },

      snackbar: {
        visible: false,
        color: '',
        text: '',
      },

      textfieldyourse: {
        username: '',
        password: '',
        name: '',
        surname: '',
        email: '',
        tel: '',
        userNo: '',
        dep: 0,
        adminId: '',
        comp: this.$store.getters.currentCompa,
      },

      editfieldyourse: {
        userid: '',
        name: '',
        surname: '',
        email: '',
        tel: '',
        dep: 0,
      },

      timeout: null,

      remove: {
        selected: [],
      },
      rules: [(v) => !!v || 'กรุณาเลือกไฟล์'],
      /**validationAddUser */
      selectrolitem: ['รับวัตถุดิบ', 'ตรวจสอบวัตถุดิบ', 'เบิกวัตถุดิบ'],
      usernameRules: [
        (v) => !!v || 'กรุณากรอกชื่อผู้ใช้',
        (v) =>
          /^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาอังกฤษ ตัวเลข และห้ามเว้นตัวอักษร',
        (v) => v.length >= 6 || 'ต้องมีความยาวอย่างน้อย 6 ตัวอักษร',
        (v) =>
          v.length <= 30 ||
          'ตัวอักษรไม่ควรมีมากจนเกินไป อาจไม่เหมาะสมกับการใช้งานในชีวิตจริง',
      ],
      passwordRules: [
        (v) => !!v || 'กรุณากรอกรหัสผ่าน',
        (v) =>
          /^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาอังกฤษ ตัวเลข และห้ามเว้นตัวอักษร',
        (v) =>
          (v.length >= 8 && v.length <= 16) ||
          'ต้องมีความยาวระหว่าง 8-16 ตัวอักษร',
      ],
      emailRules: [
        (v) => !!v || 'กรุณากรอกอีเมล',
        (v) =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          'กรุณากรอกอีเมลให้ถูกต้อง',
      ],
      nameRules: [
        (v) => !!v || 'กรุณากรอกชื่อ',
        (v) =>
          /^[ก-๙]+(?:[ _-][ก-๙]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยเท่านั้น และห้ามเว้นตัวอักษร',
      ],
      surnameRules: [
        (v) => !!v || 'กรุณากรอกนามสกุล',
        (v) =>
          /^[ก-๙]+(?:[ _-][ก-๙]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยเท่านั้น และห้ามเว้นตัวอักษร',
      ],
      selectrolRules: [(v) => !!v || 'กรุณาเลือกแผนก'],
      phonenumberRules: [
        (v) => !!v || 'กรุณากรอกเบอร์โทรศัพท์',
        (v) =>
          /^[0-9]+(?:[ _-][0-9]+)*$/.test(v) ||
          'กรุณาใช้ตัวเลขเท่านั้น และห้ามเว้นตัวเลข',
        (v) => v.length === 10 || 'เบอร์โทรศัพท์ 10หลัก',
      ],
      idcardRules: [
        (v) => !!v || 'กรุณากรอกเบอร์เลขประจำตัวประชาชน',
        (v) =>
          /^[0-9]+(?:[ _-][0-9]+)*$/.test(v) ||
          'กรุณาใช้ตัวเลขเท่านั้น และห้ามเว้นตัวเลข',
        (v) => v.length === 13 || 'เลขประจำตัวประชาชน 13หลัก',
      ],

      /**HeaderDataTable */
      headers: [
        {
          text: 'รหัสพนักงาน',
          align: 'center',
          sortable: false,
          value: 'User_Id',
        },
        { text: 'ชื่อ', value: 'User_Name' },
        { text: 'นามสกุล', value: 'User_Surname' },
        { text: 'แผนก', value: 'User_Dep' },
        { text: 'วันที่เริ่มงาน', value: 'Start_Date' },
      ],
      select: null,
      dep: [
        { department: 'รับวัตถุดิบ', dep: 1 },
        { department: 'ตรวจสอบวัตถุดิบ', dep: 2 },
        { department: 'เบิกวัตถุดิบ', dep: 3 },
      ],
    };
  },
};
</script>

<style></style>
