<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      หมวดวัตถุดิบ
    </div>
    <v-btn color="amber darken-1" text @click="getCateList">
      <v-icon>mdi-refresh</v-icon>
    </v-btn>
    <v-btn color="green darken-1" text @click="dialog.add = true">
      เพิ่ม
    </v-btn>
    <!-- <v-btn
      v-if="selected.length >= 1"
      color="red darken-1"
      text
      @click="dialog.remove = true"
    >
      ลบรายชื่อที่เลือก
    </v-btn> -->
    <v-data-table
      item-key="Mat_Cate_Id"
      :headers="headers"
      :items="table"
      :items-per-page="5"
      class="elevation-1"
      @click:row="onSelectRow"
    >
    </v-data-table>
    <v-dialog v-model="dialog.desc" max-width="600">
      <v-card>
        <v-card-title class="headline">
          รายละเอียด
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            ชื่อหมวดวัตถุดิบ: {{ row.Mat_Cate_Name }}
          </div>
          <div class="subtitle-1">
            รายละเอียดหมวดวัตถุดิบ: {{ row.Mat_Cate_Desc }}
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            outlined
            @click="
              dialog.desc = false;
              dialog.edit = true;
            "
          >
            แก้ไขข้อมูล
          </v-btn>
          <v-btn color="blue darken-1" outlined @click="onGoType">
            ดูประเภทวัตถุดิบ
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.add" max-width="600">
      <v-card>
        <v-card-title class="headline">
          เพิ่ม
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.edit" ref="add">
            <div v-for="(item, idx) in add.arr" :key="idx">
              <div class="d-flex justify-end mr-6 mb-2">
                <v-btn
                  v-if="add.arr.length > 1"
                  color="red darken-1"
                  icon
                  outlined
                  @click="removeObj(idx)"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </div>
              <v-text-field
                class="mx-8"
                v-model="add.arr[idx].name"
                :rules="nameRules"
                label="ชื่อหมวดวัตถุดิบ"
                prepend-icon="mdi-city-variant"
                color="amber darken-1"
                dense
                outlined
                required
              ></v-text-field>
              <v-text-field
                class="mx-8"
                v-model="add.arr[idx].desc"
                :rules="nameRules"
                label="รายละเอียดหมวดวัตถุดิบ"
                prepend-icon="mdi-city-variant"
                color="amber darken-1"
                dense
                outlined
                required
              ></v-text-field>
            </div>
          </v-form>
          <div class="text-center">
            <v-btn color="blue darken-1" icon outlined @click="addObj">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.add = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.edit"
            @click="addCate"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.edit" max-width="600">
      <v-card>
        <v-card-title class="headline">
          แก้ไขข้อมูล
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.edit">
            <v-text-field
              class="mx-8"
              v-model="edit.name"
              :rules="nameRules"
              label="ชื่อหมวดวัตถุดิบ"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              dense
              outlined
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model="edit.desc"
              :rules="nameRules"
              label="รายละเอียดหมวดวัตถุดิบ"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              dense
              outlined
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.edit = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.edit"
            @click="editCate"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../configs';
export default {
  name: 'TableMaterialCate',
  created() {
    this.getCateList();
  },
  data() {
    return {
      dialog: {
        desc: false,
        add: false,
        remove: false,
        edit: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        edit: false,
      },
      fetch: {
        compId: this.$store.getters.currentCompany,
      },
      add: {
        arr: [
          {
            name: '',
            desc: '',
          },
        ],
        compId: this.$store.getters.currentCompa,
      },
      edit: {
        name: '',
        desc: '',
        cateId: '',
      },
      role: this.$store.getters.currentUser,
      headers: [
        { text: 'รหัสหมวดวัตถุดิบ', value: 'Mat_Cate_Id' },
        { text: 'ชื่อหมวดวัตถุดิบ', value: 'Mat_Cate_Name' },
        { text: 'รายละเอียดหมวดวัตถุดิบ', value: 'Mat_Cate_Desc' },
      ],
      table: [],
      selected: [],
      row: {},
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
    };
  },
  methods: {
    async getCateList() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/cates/list`,
          this.fetch
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          this.table = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async editCate() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/cates/edit`,
          this.edit
        );
        console.log(res.data);
        if (!res.data.statusCode && res.data === 'OK') {
          this.getCateList();
          this.dialog.edit = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async addCate() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/cates/add`,
          this.add
        );
        if (!res.data.statusCode && res.data === 'OK') {
          this.getCateList();
          this.dialog.add = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.$refs.add.reset();
          this.add.arr.length = 1;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.row = rec;
      this.dialog.desc = true;
      this.edit.name = rec.Mat_Cate_Name;
      this.edit.desc = rec.Mat_Cate_Desc;
      this.edit.cateId = rec.Mat_Cate_Id;
    },
    onGoType() {
      this.$store.commit('isCateType', this.row.Mat_Cate_Id);
      this.$router.push({ path: '/ad/material/type' });
    },
    addObj() {
      this.add.arr.push({ name: '', desc: '' });
    },
    removeObj(idx) {
      this.add.arr.splice(idx, 1);
    },
  },
};
</script>

<style></style>
