<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      ค้นหาวัตถุดิบ
    </div>
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <!-- TODO: SEARCH BY MATERIAL ID -->
            <v-form v-model="isValid.new">
              <v-autocomplete
                class="mx-8"
                v-model="search.typeId"
                :items="matData"
                item-text="Mat_Type_Id"
                item-value="Mat_Type_Id"
                label="ค้นหา..."
                dense
                outlined
              >
                <template v-slot:selection="data">
                  {{ data.item.Mat_Type_Id }} - {{ data.item.Mat_Type_Name }}
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Type_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Type_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-form>
            <div class="text-center mt-3">
              <v-btn
                color="amber darken-1"
                :disabled="!search.typeId"
                @click="onSearch"
              >
                ยืนยัน
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="isValid.gen" align="center" justify="center">
      <v-col sm="12" md="12" lg="12">
        <v-btn
          v-if="remove.selected.length >= 1"
          color="red darken-1"
          text
          @click="dialog.remove = true"
        >
          ลบรายการที่เลือก
        </v-btn>
        <v-data-table
          v-model="remove.selected"
          item-key="Mat_Id"
          :headers="headers"
          :items="table"
          :items-per-page="5"
          class="elevation-1"
          @click:row="onSelectRow"
          show-select
        >
          <template v-slot:[`item.Mat_Color`]="{ item }">
            <span>{{ item.Mat_Color ? item.Mat_Color : '-' }}</span>
          </template>
          <template v-slot:[`item.Mat_Size`]="{ item }">
            <span>{{ item.Mat_Size ? item.Mat_Size : '-' }}</span>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog.desc" max-width="600">
      <v-card>
        <v-card-title class="headline">
          รายละเอียด
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">ชื่อวัตถุดิบ: {{ row.Mat_Name }}</div>
          <div class="subtitle-1">
            สีวัตถุดิบ: {{ row.Mat_Color ? row.Mat_Color : '-' }}
          </div>
          <div class="subtitle-1">
            ขนาดวัตถุดิบ: {{ row.Mat_Size ? row.Mat_Size : '-' }}
          </div>
          <div class="subtitle-1">จำนวนวัตถุดิบ: {{ row.Mat_Num }}</div>
          <div class="subtitle-1">ขั้นต่ำวัตถุดิบ: {{ row.Mat_Min }}</div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            outlined
            @click="
              dialog.desc = false;
              dialog.edit = true;
            "
          >
            แก้ไขข้อมูล
          </v-btn>
          <!-- <v-btn color="blue darken-1" outlined @click="onGoType">
            ดูประเภทวัตถุดิบ
          </v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.edit" max-width="600">
      <v-card>
        <v-card-title class="headline">
          แก้ไขข้อมูล
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.edit">
            <v-text-field
              class="mx-8"
              v-model="edit.name"
              :rules="nameRules"
              label="ชื่อวัตถุดิบ"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              dense
              outlined
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model="edit.color"
              :rules="nameRules"
              label="สีวัตถุดิบ"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              dense
              outlined
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model.number="edit.size"
              :rules="numberRules"
              label="ขนาดวัตถุดิบ"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model.number="edit.min"
              :rules="numberRules"
              label="ขั้นต่ำวัตถุดิบ"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.edit = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            :disabled="!isValid.edit"
            @click="onEdit"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.remove" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการลบข้อมูลที่เลือกหรือไม่
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.remove = false">
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" text @click="onDelete">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../configs';
export default {
  name: 'TableMaterial',
  components: {},
  data() {
    return {
      dialog: {
        desc: false,
        edit: false,
        remove: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        new: false,
        store: false,
        gen: false,
      },
      disable: {
        new: false,
      },
      fetch: {
        compId: this.$store.getters.currentCompany,
      },
      search: {
        typeId: '',
        compId: '',
      },
      edit: {
        name: '',
        color: '',
        size: '',
        min: '',
        matId: '',
      },
      remove: {
        selected: [],
      },
      headers: [
        {
          text: 'รหัสวัตถุดิบ',
          align: 'start',
          sortable: false,
          value: 'Mat_Id',
        },
        { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
        { text: 'สีวัตถุดิบ', value: 'Mat_Color' },
        { text: 'ขนาดวัตถุดิบ', value: 'Mat_Size' },
        { text: 'จำนวนวัตถุดิบ', value: 'Mat_Num' },
        { text: 'ขั้นต่ำวัตถุดิบ', value: 'Mat_Min' },
      ],
      row: {},
      table: [],
      matData: [],
      wareData: [],
      storeData: [],
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
    };
  },
  created() {
    this.getTypeListByComp();
  },
  methods: {
    async getTypeListByComp() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/types/search`,
          this.fetch
        );
        if (!res.data.statusCode) {
          if (res.data) {
            console.log(res.data);
            this.matData = res.data;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onSearch() {
      try {
        this.table = [];
        this.disable.new = true;
        this.isValid.new = false;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/list`,
          this.search
        );
        if (!res.data.statusCode) {
          if (res.data) {
            console.log(res.data);
            this.table = res.data;
            this.isValid.gen = true;
            // this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว'
            // this.snackbar.color = 'success'
            // this.snackbar.visible = true
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onEdit() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/edit`,
          this.edit
        );
        if (!res.data.statusCode) {
          if (res.data) {
            console.log(res.data);
            this.onSearch();
            this.dialog.edit = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onDelete() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/del`,
          this.remove
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.getCateList();
            this.dialog.remove = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.row = rec;
      console.log(this.row);
      this.dialog.desc = true;
      this.edit.name = rec.Mat_Name;
      this.edit.color = rec.Mat_Color;
      this.edit.size = rec.Mat_Size;
      this.edit.num = rec.Mat_Num;
      this.edit.min = rec.Mat_Min;
      this.edit.matId = rec.Mat_Id;
    },
  },
};
</script>

<style></style>
