<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      ยืนยันบริษัท
    </div>
    <v-data-table
      :headers="headers"
      :items="companys"
      :items-per-page="5"
      class="elevation-1"
      @click:row="onSelectRow"
    >
      <template v-slot:[`item.Admin_Name`]="{ item }">
        <span>{{ item.Admin_Name }} {{ item.Admin_Surname }}</span>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog.desc" max-width="600">
      <v-card>
        <v-card-title class="headline">
          รายละเอียดบริษัท
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">ชื่อบริษัท: {{ row.Comp_Name }}</div>
          <div class="subtitle-1">
            ชื่อผู้ประกอบการ: {{ row.Admin_Name }} {{ row.Admin_Surname }}
          </div>
          <div class="subtitle-1">เบอร์โทรศัพท์: {{ row.Admin_Tel }}</div>
          <div class="subtitle-1">อีเมล: {{ row.Admin_Email }}</div>
          <div class="subtitle-1">ที่อยู่บริษัท: {{ row.Comp_Address }}</div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="
              dialog.remove = true;
              dialog.desc = false;
            "
          >
            ปฏิเสธ
          </v-btn>
          <v-btn
            color="green darken-1"
            outlined
            @click="
              dialog.confirm = true;
              dialog.desc = false;
            "
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.remove" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          ปฏิเสธ
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.remove">
            <v-textarea
              class="mx-8"
              v-model="remove.note"
              :rules="nameRules"
              label="หมายเหตุการปฏิเสธบริษัท"
              color="amber darken-1"
              outlined
              required
            ></v-textarea>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.remove = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            :disabled="!isValid.remove"
            @click="removeCompany"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.confirm" max-width="300">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          คุณต้องการยืนยันบริษัทนี้หรือไม่
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.confirm = false">
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" outlined @click="confirmCompany">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { CONFIG } from '../configs';
export default {
  name: 'TableWaitCompany',
  created() {
    this.getCompany();
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data() {
    return {
      dialog: {
        desc: false,
        remove: false,
        confirm: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        remove: false,
        edit: false,
        setting: false,
      },
      confirm: {
        status: 1,
        companyId: '',
        adminId: '',
      },
      remove: {
        note: '',
        status: 3,
        adminId: '',
        email: '',
        companyId: '',
        name: '',
      },
      role: this.$store.getters.currentUser,
      headers: [
        {
          text: 'ชื่อบริษัท',
          align: 'start',
          sortable: false,
          value: 'Comp_Name',
        },
        { text: 'ชื่อผู้ประกอบการ', value: 'Admin_Name' },
        { text: 'เบอร์โทรศัพท์', value: 'Admin_Tel' },
        { text: 'วันที่สมัคร', value: 'Register_Date' },
      ],
      companys: [],
      nameRules: [(v) => !!v || 'กรุณากรอกหมายเหตุ'],
      row: {},
      timeout: null,
    };
  },
  methods: {
    async getCompany() {
      try {
        let res = await axios.get(`${CONFIG.BASEAPI}/comps/companyw`);
        console.log(res.data);
        if (!res.data.statusCode) {
          res.data.forEach((i) => {
            i.Register_Date = moment(i.Register_Date).format('DD/MM/YYYY');
          });
          this.companys = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async confirmCompany() {
      try {
        this.confirm.companyId = this.row.Comp_Id;
        this.confirm.adminId = this.row.Admin_Id;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps/companyc`,
          this.confirm
        );
        // let res = await SpAdminService.editCompany(this.edit);
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.confirm = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async removeCompany() {
      try {
        this.remove.companyId = this.row.Comp_Id;
        this.remove.name = this.row.Comp_Name;
        this.remove.adminId = this.row.Admin_Id;
        this.remove.email = this.row.Admin_Email;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps/companyj`,
          this.remove
        );
        // let res = await SpAdminService.editCompany(this.edit);
        console.log(res.data);
        if (!res.data.statusCode && res.data === 'OK') {
          this.dialog.remove = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.dialog.desc = true;
      this.row = rec;
      console.log(rec);
    },
    onConfirm() {
      this.dialog.confirm = false;
      this.snackbar.visible = true;
    },
    onRemove() {
      this.dialog.remove = false;
      this.snackbar.visible = true;
    },
  },
};
</script>

<style></style>
