<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      หน่วยนับ
    </div>
    <!--buttonAddUnit-->
    <div>
      <v-btn color="green darken-1" text @click="AddUnit">
        เพิ่ม
      </v-btn>
      <v-btn
        v-if="remove.selected.length >= 1"
        color="red darken-1"
        text
        @click="dialog.deleteUnitAll = true"
      >
        ลบรายชื่อที่เลือก
      </v-btn>
    </div>
    <!--DataTables-->
    <v-card>
      <v-card-title>
        ประเภทหน่วยนับ
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          outlined
          dense
          hide-details
        ></v-text-field>
      </v-card-title>

      <v-data-table
        v-model="remove.selected"
        item-key="Unit_Id"
        :headers="headers"
        :items="unit"
        :items-per-page="5"
        class="elevation-1"
        :search="search"
        @click:row="onSelectRow"
        show-select
      >
      </v-data-table>
    </v-card>
    <!--dialogAddUnit-->
    <v-dialog v-model="dialog.addUnit" max-width="600">
      <v-card>
        <v-item-group>
          <v-form v-model="isvalid">
            <v-card-title>
              เพิ่มหน่วยนับ
            </v-card-title>
            <div
              class="previous"
              v-for="(item, index) in addunit"
              v-bind:key="index"
            >
              <div
                class="d-flex justify-end mr-6 mb-2"
                v-if="addunit.length > 1"
              >
                <v-btn
                  outlined
                  icon
                  @click="deleteindex(index)"
                  color="red darken-1"
                  dark
                >
                  <v-icon>
                    mdi-delete
                  </v-icon>
                </v-btn>
              </div>

              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="addunit[index].unitname"
                :rules="nameRules"
                label="หน่วยนับ"
                required
              ></v-text-field>
              <v-text-field
                class="mx-8"
                outlined
                dense
                v-model="addunit[index].unitdesc"
                :rules="descRules"
                label="รายละเอียด"
                required
              ></v-text-field>
            </div>
            <div class="text-center">
              <v-btn
                class="mx-8 mb-5"
                color="blue darken-1"
                @click="addUN"
                outlined
                icon
              >
                <v-icon>
                  mdi-plus
                </v-icon>
              </v-btn>
              <v-divider class="mb-4"></v-divider>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="mb-5" color="red darken-1" @click="cancel" outlined>
                ยกเลิก
              </v-btn>
              <v-btn
                class="mr-5 mb-5"
                color="green darken-1"
                @click="addunits"
                outlined
                :disabled="!isvalid"
              >
                ยืนยัน
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-item-group>
      </v-card>
    </v-dialog>
    <!--dialogDetailUnit-->
    <v-dialog v-model="dialog.detailUnit" max-width="600">
      <v-card>
        <v-card-title>
          รายละเอียดที่จัดเก็บวัตถุดิบ
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">รหัสหน่วยนับ: {{ row.Unit_Id }}</div>
          <div class="subtitle-1">ชื่อ: {{ row.Unit_Name }}</div>
          <div class="subtitle-1">รายละเอียด: {{ row.Unit_Desc }}</div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn outlined color="red darken-1" @click="cancel">
            กลับ
          </v-btn>
          <v-btn outlined color="primary darken-1" @click="editUN">
            แก้ไขข้อมูล
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--dialogEditUnit-->
    <v-dialog v-model="dialog.editUnit" max-width="600">
      <v-card>
        <v-card-title>
          แก้ไขหน่วยนับ
        </v-card-title>
        <v-item-group>
          <v-form v-model="validedit">
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.name"
              :rules="nameRules"
              label="หน่วยนับ"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.desc"
              :rules="descRules"
              label="รายละเอียด"
              required
            ></v-text-field>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                class="mb-5"
                color="red darken-1"
                @click="cancel"
                outlined
              >
                ยกเลิก
              </v-btn>
              <v-btn
                class="mr-6 mb-5"
                color="green darken-1"
                @click="editunit"
                outlined
                :disabled="!edit.name || !edit.desc"
              >
                ยืนยัน
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-item-group>
      </v-card>
    </v-dialog>
    <!--dialogDeleteUnitAll-->
    <v-dialog v-model="dialog.deleteUnitAll" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการลบหน่วยนับนี้ออกจากระบบหรือไม่
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="dialog.deleteUnitAll = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" text @click="deleteunitall">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../configs';
export default {
  name: 'Unit',
  created() {
    this.listunit();
    this.$store.getters.currentCompa;
    console.log('Id Company', this.$store.getters.currentCompa)
  },

  methods: {
    AddUnit() {
      this.dialog.addUnit = true;
    },

    cancel() {
      this.dialog.addUnit = false;
      this.dialog.detailUnit = false;
      this.dialog.editUnit = false;
    },
    addUN() {
      this.addunit.push({
        unitname: '',
        unitdesc: '',
      });
    },

    deleteindex(counter) {
      this.addunit.splice(counter, 1);
    },
    onSelectRow(rec) {
      console.log('onSelRow', rec);
      this.dialog.detailUnit = true;
      this.row = rec;
      this.edit.name = rec.Unit_Name;
      this.edit.desc = rec.Unit_Desc;
    },

    editUN() {
      this.dialog.editUnit = true;
      this.dialog.detailUnit = false;
    },

    async addunits() {
      try {
        this.addunites.addun = this.addunit;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/addunits`,
          this.addunites
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            console.log('Success', res.data);
            this.dialog.addUnit = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async listunit() {
      try {
        let res = await axios.get(
          `${CONFIG.BASEAPI}/adminns/listunit`
        );
        if (!res.data.statusCode) {
          this.unit = res.data;
          console.log(res.data);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async editunit() {
      try {
        this.edit.unitid = this.row.Unit_Id;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/editunit`,
          this.edit
        );
        if (res.data === 'OK') {
          this.listunit();
          console.log('editOK', res.data);
          this.dialog.editUnit = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async deleteunitall() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/deleteunitall`,
          this.remove
        );
        if (res.data === 'OK') {
          console.log('deleteOK', res.data);
          this.dialog.deleteUnitAll = false;
          (this.remove.selected = []), this.listunit();
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
  data() {
    return {
      search: '',
      row: {},
      unit: [],
      validedit: false,
      isvalid:false,
      dialog: {
        addUnit: false,
        detailUnit: false,
        editUnit: false,
        deleteUnitAll: false,
      },
      addunites: {
        addun: [],
        comp: this.$store.getters.currentCompa,
      },
      addunit: [
        {
          unitname: '',
          unitdesc: '',
        },
      ],
      edit: {
        name: '',
        desc: '',
        unitid: '',
      },

      remove: {
        selected: [],
      },

      snackbar: {
        visible: false,
        color: '',
        text: '',
      },

      nameRules: [
        (v) => !!v || 'กรุณากรอกชื่อ',
        (v) =>
          /^[A-Za-zก-๙]+(?:[ _-][A-Za-zก-๙]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยและภาษาอังกฤษเท่านั้น และห้ามเว้นตัวอักษร',
      ],
      descRules: [
        (v) => !!v || 'กรุณากรอกรายละเอียด',
        (v) =>
          /^[ก-๙]+(?:[ _-][ก-๙]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยเท่านั้น และห้ามเว้นตัวอักษร',
      ],

      headers: [
        {
          text: 'รหัสหน่วยนับ',
          align: 'center',
          sortable: false,
          value: 'Unit_Id',
        },
        { text: 'หน่วยนับ', value: 'Unit_Name' },
        { text: 'รายละเอียด', value: 'Unit_Desc' },
      ],
    };
  },
};
</script>

<style></style>
