<template>
  <v-container fluid>
    <TableMaterial></TableMaterial>
  </v-container>
</template>

<script>
import TableMaterial from '../../components/TableMaterial';
export default {
  name: 'MaterialSearch',
  components: { TableMaterial },
};
</script>

<style></style>
