<template>
  <v-container fluid>
    <TableMaterialCate></TableMaterialCate>
  </v-container>
</template>

<script>
import TableMaterialCate from '../../components/TableMaterialCate';
export default {
  name: 'MaterialCate',
  components: { TableMaterialCate },
};
</script>

<style></style>
