<template>
  <v-container fluid>
    <TableProductType></TableProductType>
  </v-container>
</template>

<script>
import TableProductType from '../../components/TableProductType';
export default {
  name: 'ProductType',
  components: { TableProductType },
};
</script>

<style></style>
