<template>
  <v-container fluid>
    <TableProductCate></TableProductCate>
  </v-container>
</template>

<script>
import TableProductCate from '../../components/TableProductCate';
export default {
  name: 'ProductCate',
  components: { TableProductCate },
};
</script>

<style></style>
