<template>
  <v-app>
    <Navbar v-if="user" title="WMS"></Navbar>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar';

export default {
  name: 'App',
  components: { Navbar },
  data() {
    return {
      user: null,
    };
  },
  created() {
    this.user = this.$store.getters.currentUser;
  },
};
</script>

<style></style>
