<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      รายการเบิกวัตถุดิบ
    </div>
    <v-data-table
      item-key="Mat_Id"
      :headers="headers"
      :items="table"
      :items-per-page="5"
      class="elevation-1"
      @click:row="onSelectRow"
    >
      <template v-slot:[`item.Goods_Status`]="{ item }">
        <span>{{ (item.Goods_Status = 'ยังไม่เบิก') }}</span>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog.order" max-width="600">
      <v-card>
        <v-card-title class="headline">
          ยืนยันการเบิกวัตถุดิบ
        </v-card-title>
        <v-card-text>
          <v-row align="center" justify="center">
            <v-col sm="10" md="8" lg="8">
              <qrcode-stream @decode="onDecode" @init="onInit">
                <div class="text-center" v-if="isValid.load">
                  <v-progress-circular
                    size="50"
                    indeterminate
                    color="amber"
                  ></v-progress-circular>
                </div>
              </qrcode-stream>
              <div class="mt-2" v-if="isValid.qr">
                <div class="subtitle-1">ชื่อวัตถุดิบ: {{ order.matName }}</div>
                <div class="subtitle-1">
                  จำนวนวัตถุดิบคงเหลือ: {{ order.matNum }}
                </div>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.order = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.qr"
            @click="onOrder"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader';
import axios from 'axios';
import { CONFIG } from '../../configs';
export default {
  name: 'OrderMat',
  components: { QrcodeStream },
  created() {
    this.getGoodsList();
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data() {
    return {
      dialog: {
        order: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        load: false,
        qr: false,
      },
      fetch: {
        proId: this.$store.getters.currentProId,
        orderNum: this.$store.getters.currentOrderNum,
        compId: this.$store.getters.currentCompany,
        userId: this.$store.getters.currentId,
        orderId: this.$store.getters.currentOrderId,
        idx: null,
        status: null,
      },
      order: {
        matId: '',
        matName: '',
        matNum: '',
        arr: [],
      },
      headers: [
        { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
        { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
        { text: 'ที่เก็บวัตถุดิบ', value: 'Store_Name' },
        { text: 'จำนวนที่ต้องเบิก', value: 'Total_Num' },
      ],
      table: [],
      proData: [],
      selected: [],
      row: {},
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
      timeout: null,
    };
  },
  methods: {
    async getGoodsList() {
      try {
        let res = await axios.post(`${CONFIG.BASEAPI}/orders/list`, this.fetch);
        // console.log(res.data);
        // let arr = res.data
        if (!res.data.statusCode) {
          // res.data.forEach((i) => {
          //   i.Goods_Num *= this.fetch.orderNum;
          // });
          // const lookup = arr.reduce((a, e) => {
          //   a[e.Prod_Id] = ++a[e.Prod_Id] || 0;
          //   return a;
          // }, {});
          // let x = arr.filter((e) => lookup[e.Prod_Id]);
          // let y = x.reduce((a, b) => a + (b['Total_Num'] || 0), 0);
          // arr.reduce((acc, current) => {
          //   let i = acc.find((item) => item.Prod_Id === current.Prod_Id);
          //   if (!i) {
          //     return acc.concat([current]);
          //   } else {
          //     return acc;
          //   }
          // }, []);
          // let a = []
          // let n = x.map((a) => a.Prod_Id)[0];
          // let m = a.push(res.data.filter((i) => i.Prod_Id !== n));
          // m.splice(n, 0, x[0]);
          // a[0].Total_Num = y;
          // console.log({x,y});
          // console.log(arr);
          this.table = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onDecode(result) {
      this.order.matId = result;
      this.getInfoMat();
      if (this.row.Mat_Id === this.order.matId) {
        this.isValid.qr = true;
        this.snackbar.text = 'ยืนยันข้อมูลสำเร็จ';
        this.snackbar.color = 'success';
        this.snackbar.visible = true;
      } else {
        this.isValid.qr = false;
        this.snackbar.text =
          'QR ไม่ตรงกับวัตถุดิบที่ต้องการเบิก กรุณาลองใหม่อีกครั้ง';
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onInit(promise) {
      this.isValid.load = true;
      try {
        await promise;
      } catch (error) {
        this.snackbar.text = error;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      } finally {
        this.isValid.load = false;
      }
    },
    async getInfoMat() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/info`,
          this.order
        );
        if (!res.data.statusCode) {
          if (res.data) {
            this.order.matName = res.data[0].Mat_Name;
            this.order.matNum = res.data[0].Mat_Num;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onOrder() {
      try {
        for (let i = 0; i < this.table.length; i++) {
          if (this.table[i]['Mat_Id'] === this.row.Mat_Id) {
            this.fetch.idx = i;
            this.order.arr.push({
              matId: this.table[i]['Mat_Id'],
              matNum: this.order.matNum,
              num: this.table[i]['Total_Num'],
            });
          }
        }
        console.log('arr', this.order.arr);
        this.table.splice(this.fetch.idx, 1);
        this.isValid.qr = false;
        this.dialog.order = false;
        if (!this.table.length) {
          let res = await axios.post(
            `${CONFIG.BASEAPI}/materials/dels/multi`,
            this.order
          );
          if (!res.data.statusCode) {
            if (res.data === 'OK') {
              this.fetch.status = 2;
              this.onFinish();
            }
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onFinish() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/orders/updates/status`,
          this.fetch
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              this.$router.push({ path: '/us/order' });
            }, 1500);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.row = rec;
      // for (let i = 0; i < this.table.length; i++) {
      //   if(this.table[i]['Mat_Id'] === this.row.Mat_Id) {
      //       this.fetch.idx = i
      //   }
      // }
      // this.table.splice(this.fetch.idx, 1);
      this.dialog.order = true;
    },
  },
};
</script>

<style></style>
