<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col sm="6" md="6" lg="6">
        <div class="text-center">
          <v-btn outlined color="red darken-1" @click="onBack">
            <v-icon>mdi-arrow-left</v-icon>กลับ
          </v-btn>
        </div>
      </v-col>
      <v-col sm="6" md="6" lg="6">
        <div class="text-center">
          <v-btn outlined color="blue darken-1" @click="onExport">
            <v-icon>mdi-printer-pos</v-icon>พิมพ์
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <div id="pdf">
      <div class="d-flex flex-column">
        <div class="text-center">
          <h1 class="mb-3 mt-10">{{ report.compName || '...' }}</h1>
          <h2 class="mt-5">รายงานเบิกวัตถุดิบ</h2>
          <h3 class="mt-5">วันที่ {{ report.date }}</h3>
        </div>
      </div>
      <div class="d-flex justify-space-between mt-5">
        <h4 class="text-left ml-2">พิมพ์วันที่ {{ dateThai }}</h4>
      </div>
      <v-divider></v-divider>
      <v-data-table
        :headers="table.headers"
        :items="table.data"
        class="elevation-1"
        disable-sort
        disable-filtering
        hide-default-footer
      >
      </v-data-table>
      <v-divider></v-divider>
      <div class="d-flex justify-space-between mt-4">
        <div class="d-flex justify-start">
          <h4 class="text-left mr-10 ml-3">รวมทั้งสิ้น</h4>
          <h4 class="text-left mr-10">{{ table.data.length }}</h4>
          <h4 class="text-left mr-10">รายการ</h4>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import moment from 'moment';
import html2canvas from 'html2canvas';
import axios from 'axios';
import { CONFIG } from '../../configs';
import { jsPDF } from 'jspdf';
export default {
  name: 'ReportOrder',
  created() {
    this.getGoodsList();
    this.getCompany();
  },
  data() {
    return {
      table: {
        data: [],
        headers: [
          { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
          { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
          { text: 'ที่เก็บวัตถุดิบ', value: 'Store_Name' },
          { text: 'จำนวนที่เบิก', value: 'Total_Num' },
        ],
      },
      report: {
        compName: '',
        compId: this.$store.getters.currentCompa,
        orderId: this.$store.getters.currentOrderId,
        date: moment().format('DD/MM/YYYY'),
      },
    };
  },
  computed: {
    dateThai() {
      return moment()
        .locale('th')
        .add(543, 'year')
        .format('D MMMM YYYY');
    },
  },
  methods: {
    async getGoodsList() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/orders/list`,
          this.report
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          this.report.date = moment(res.data[0].Order_Date)
            .locale('th')
            .add(543, 'year')
            .format('D MMMM YYYY');
          this.table.data = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getCompany() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps`,
          this.report
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          this.report.compName = res.data[0].Comp_Name;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onBack() {
      this.$router.push({ path: '/us/order' });
    },
    onExport() {
      let element = document.getElementById('pdf');
      html2canvas(element, { logging: false }).then((canvas) => {
        let pdf = new jsPDF('p', 'mm', 'a4');
        let ctx = canvas.getContext('2d');
        let a4w = 190;
        let a4h = 257;
        let imgHeight = Math.floor((a4h * canvas.width) / a4w);
        let renderedHeight = 0;
        while (renderedHeight < canvas.height) {
          let page = document.createElement('canvas');
          page.width = canvas.width;
          page.height = Math.min(imgHeight, canvas.height - renderedHeight);
          page
            .getContext('2d')
            .putImageData(
              ctx.getImageData(
                0,
                renderedHeight,
                canvas.width,
                Math.min(imgHeight, canvas.height - renderedHeight)
              ),
              0,
              0
            );
          pdf.addImage(
            page.toDataURL('image/jpeg', 2),
            'JPEG',
            10,
            10,
            a4w,
            Math.min(a4h, (a4w * page.height) / page.width)
          );
          renderedHeight += imgHeight;
          if (renderedHeight < canvas.height) {
            pdf.addPage();
          }
        }
        pdf.save(`รายงานเบิกวัตถุดิบ - ${this.report.date}`);
      });
    },
  },
};
</script>
